:root {
  --container-big-width: 1760px;
  --container-big-padding: 0 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Medium"), local("RobotoCondensed-Medium"), url("../fonts/RobotoCondensed-Medium.woff2") format("woff2"), url("../fonts/RobotoCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: var(--bgc);
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #232323;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1919.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1439.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1023.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 767.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 575.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.content {
  --mb: 20px;
}
.content ul {
  margin-bottom: var(--mb);
  padding-left: 40px;
}
.content ul li {
  list-style: disc;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p {
  margin-bottom: var(--mb);
  color: currentColor;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.main-banner__content a, .header__link a, .btn {
  width: 239px;
  height: 59px;
  background-color: #1b4ed1;
  color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-banner__content a:hover, .header__link a:hover, .btn:hover {
  background-color: #153da4;
}

.link {
  --link-color: #1b4ed1;
}
.link a {
  color: var(--link-color);
  font-size: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link a span {
  color: var(--link-color);
}
.link a svg {
  display: block;
}
.link a svg path {
  stroke: var(--link-color);
}
.link--white {
  --link-color: #fff;
}

.ovh {
  overflow: hidden;
}

.h4, h4, .h3, h3, .h2, h2, .h1, h1 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.h1, h1 {
  font-size: 55px;
  line-height: 120%;
}
@media screen and (max-width: 1919.98px) {
  .h1, h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1439.98px) {
  .h1, h1 {
    font-size: 35px;
  }
}

.h2, h2 {
  font-size: 45px;
  line-height: 120%;
}
@media screen and (max-width: 767.98px) {
  .h2, h2 {
    font-size: 33px;
  }
}

.h3, h3 {
  font-size: 28px;
  line-height: 130%;
}
@media screen and (max-width: 1919.98px) {
  .h3, h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1439.98px) {
  .h3, h3 {
    font-size: 24px;
  }
}

.h4, h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.sub, .content p b, .txt2, .txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.txt {
  font-size: 17px;
  line-height: 140%;
}

.txt2 {
  font-size: 16px;
  line-height: 130%;
}

.sub, .content p b {
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 1439.98px) {
  .sub, .content p b {
    font-size: 18px;
  }
}

.color-blue {
  color: #1b4ed1;
}

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 100;
}
.header__container {
  width: 100%;
  max-width: var(--container-big-width);
  padding: var(--container-big-padding);
  margin: 0 auto;
}
.header__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left {
  margin-right: auto;
}
.header__center {
  margin-right: 140px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__link a {
  width: 180px;
  height: 80px;
  text-transform: uppercase;
}

.footer {
  background-color: #1b4ed1;
  padding: 60px 0;
  color: #ffffff;
}
.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title {
  color: currentColor;
  margin-bottom: 10px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-family: Inter;
  font-size: 16px;
}
.footer .footer__email a, .footer__email .footer a, .footer .footer__tel a, .footer__tel .footer a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.footer__tel {
  margin-bottom: 5px;
}
.footer__email {
  margin-bottom: 10px;
}
.footer__socials {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.footer__addr {
  font-size: 16px;
  font-weight: 400;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.nav__item {
  position: relative;
  cursor: pointer;
}
.nav__item:hover .nav__link {
  color: #1b4ed1;
}
.nav__item:hover .nav__link svg {
  display: block;
}
.nav__item:hover .nav__drop {
  display: block;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.nav__link svg {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  bottom: 0;
  display: none;
}
.nav__drop {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
}

.subnav {
  width: min(100%, 600px);
  background-color: #ffffff;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.subnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  font-family: Inter;
  white-space: nowrap;
  color: #232323;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.subnav__item:hover {
  color: #1b4ed1;
}
.subnav__title {
  font-size: 16px;
  font-weight: 500;
}
.subnav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  list-style: disc;
  padding-left: 25px;
}
.subnav__li {
  font-size: 14px;
}

.search {
  position: relative;
  width: 150px;
}
.search__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search__icon svg {
  display: block;
}
.search__input {
  width: 100%;
  padding: 5px 10px 5px 32px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.search__input:focus, .search__input:active {
  border-color: #1b4ed1;
}

.main-banner {
  background-color: #f2f4f8;
  position: relative;
  height: 780px;
}
.main-banner__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(950/1920*100%);
}
.main-banner__img img {
  position: absolute;
  z-index: 2;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-banner__animation {
  position: absolute;
  z-index: 1;
  left: -347px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-banner__container {
  width: 100%;
  max-width: var(--container-big-width);
  padding: var(--container-big-padding);
  margin: 0 auto;
}
.main-banner__left {
  padding-top: 130px;
}
.main-banner__content {
  max-width: 687px;
}
.main-banner__content h1, .main-banner__content h2, .main-banner__content h3, .main-banner__content h4, .main-banner__content h5, .main-banner__content h6 {
  margin-bottom: 15px;
}
.main-banner__content p {
  margin-bottom: 50px;
}
.main-advs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.main-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main-adv__img {
  width: 100px;
  margin-bottom: 40px;
}
.main-adv__title {
  margin-bottom: 10px;
}

.main-about {
  position: relative;
}
.main-about__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(950/1920*100%);
}
.main-about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.main-about__container {
  background-color: #1b4ed1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-about__wrap {
  width: 50%;
  padding: 50px 40px 180px 40px;
  position: relative;
  overflow: hidden;
}
.main-about__content {
  width: min(100%, 520px);
  color: #ffffff;
  margin-bottom: 40px;
}
.main-about__content h1, .main-about__content h2, .main-about__content h3, .main-about__content h4 {
  color: #f2f4f8;
}
.main-about__circles {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.main-platforms {
  padding-top: 150px;
  padding-bottom: 120px;
}
.main-platforms__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.platforms {
  counter-reset: li;
}

.platform {
  cursor: pointer;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
.platform:before {
  counter-increment: li;
  content: "0" counter(li);
  display: block;
  color: #1b4ed1;
  font-family: Inter;
  font-size: 16px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.platform.active:before {
  color: #ffffff;
}
.platform.active svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.platform.active svg path {
  stroke: #ffffff;
}
.platform__grid {
  padding: 25px 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 50px 1fr;
  grid-template-columns: 280px 1fr;
  gap: 50px;
}
.platform__wrap {
  display: none;
  background: #1b4ed1;
  position: relative;
  z-index: 2;
  margin-bottom: -86px;
}
.platform__content {
  color: #ffffff;
  width: min(100%, 750px);
}
.platform__btn {
  height: 86px;
}
.platform__arr {
  position: absolute;
  z-index: 10;
  top: 33px;
  right: 20px;
}
.platform__arr svg {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.platform__arr svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-desc {
  position: relative;
  margin-bottom: 230px;
}
.main-desc__grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-desc__left {
  position: sticky;
  top: 100px;
  left: 0;
  width: 50%;
  margin-bottom: 50px;
}
.main-desc__title {
  position: relative;
}
.main-desc__title:after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background-color: #232323;
  position: absolute;
  top: 50%;
  right: 20px;
}
.main-desc__bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 70px;
}
.main-desc__content {
  width: min(100%, 460px);
  margin-bottom: 50px;
}
.main-desc__content p {
  font-family: Inter;
  font-size: 20px;
}
.main-desc__map {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.main-desc__map-title {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  top: 370px;
  right: 340px;
  -webkit-text-stroke: 1px #1b4ed1;
  -webkit-text-fill-color: transparent;
  text-indent: 190px;
}
.main-desc__map img {
  display: block;
  max-width: initial;
}
.main-desc__right {
  width: 50%;
}
.main-desc__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.main-desc__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
  grid-template-columns: 150px 1fr;
}
.main-desc__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-desc__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-desc__item-val {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1;
}
.main-desc__item-txt {
  font-family: Inter;
  font-size: 27px;
}

.brands__title {
  text-align: center;
  margin-bottom: 65px;
}
.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.brands__animate {
  -webkit-animation: sliderScroll 43s linear infinite;
          animation: sliderScroll 43s linear infinite;
}
.brands__animate:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.brands__animate--reverse {
  -webkit-animation: sliderScrollReverse 43s linear infinite;
          animation: sliderScrollReverse 43s linear infinite;
}
.brands__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brands__item {
  padding: 0 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.brands__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.brands__item img {
  display: block;
}

@-webkit-keyframes sliderScroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2529px);
            transform: translateX(-2529px);
  }
}

@keyframes sliderScroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2529px);
            transform: translateX(-2529px);
  }
}
@-webkit-keyframes sliderScrollReverse {
  0% {
    -webkit-transform: translateX(-2529px);
            transform: translateX(-2529px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes sliderScrollReverse {
  0% {
    -webkit-transform: translateX(-2529px);
            transform: translateX(-2529px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 715fr 690fr;
  grid-template-columns: 715fr 690fr;
}
.feed__title {
  margin-bottom: 10px;
}
.feed__sub {
  width: min(100%, 460px);
}
.feed__form {
  padding: 60px 120px 80px 40px;
  background-color: var(--feedBgc);
}

.form__fields {
  margin-bottom: 40px;
}
.form__accept {
  margin-bottom: 50px;
}

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.fields .fields__input {
  padding: 12px 0;
  color: #232323;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
.fields .fields__input:focus, .fields .fields__input:active {
  border-color: #1b4ed1;
}
.fields .fields__input:focus:invalid, .fields .fields__input:active:invalid {
  border-color: #e2353f;
}
.accept__input {
  display: none;
}
.accept__input:checked + .accept__fake .accept__check svg {
  display: block;
}
.accept__fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.accept__check {
  width: 23px;
  height: 23px;
  border: 1px solid #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.accept__check svg {
  display: none;
}

.banner {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__title {
  color: #ffffff;
  width: min(100%, 1000px);
  margin-bottom: 15px;
}
.banner__txt {
  color: #ffffff;
  width: min(100%, 514px);
}

.import-dev {
  padding-top: 100px;
  padding-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.import-dev__img {
  aspect-ratio: 690/484;
}
.import-dev__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.import-dev__right {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.import-dev__title {
  margin-bottom: 60px;
}
.import-dev__item {
  border-top: 1px solid #d7d7d7;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 50px;
  position: relative;
}
.import-dev__item:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #1b4ed1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.import-dev__item:last-child {
  border-bottom: 1px solid #d7d7d7;
}

.import-products {
  position: relative;
}
.import-products__img {
  aspect-ratio: 595/550;
  position: absolute;
  top: 0;
  right: 0;
  width: 595px;
}
.import-products__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.import-products__title {
  margin-bottom: 60px;
}
.import-products__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 325px 30px 325px 30px 325px;
  grid-template-columns: repeat(3, 325px);
  gap: 30px;
}
.import-products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.import-products__sub {
  margin-bottom: 15px;
}
.import-products__ul {
  list-style: disc;
  padding-left: 30px;
}
.import-products__li {
  font-family: Inter;
  font-size: 20px;
  line-height: 1.3;
}

.import-compatibility {
  padding-top: 220px;
  padding-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.import-compatibility__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 30px;
}
.import-compatibility__txt {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
}

.import-banner {
  background: #1b4ed1;
  height: 550px;
  overflow: hidden;
}
.import-banner__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.import-banner__img {
  position: absolute;
  top: -95px;
  left: -40px;
}
.import-banner__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0.5;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  line-height: 105%;
  text-align: right;
  margin-bottom: 20px;
}
.import-banner__title div:nth-child(1) {
  margin-right: 170px;
}
.import-banner__sub {
  color: #ffffff;
  margin-bottom: 15px;
}
.import-banner__txt {
  color: #ffffff;
  max-width: 520px;
}

.import-about {
  padding-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 150px;
}
.import-about__item {
  padding: 0 35px 0px;
  border-right: 1px solid #d7d7d7;
}
.import-about__item:nth-child(4n) {
  border-right-color: transparent;
}
.import-about__item:nth-child(1), .import-about__item:nth-child(2), .import-about__item:nth-child(3), .import-about__item:nth-child(4) {
  padding-bottom: 90px;
}
.import-about__img {
  margin-bottom: 20px;
}
.import-about__img img {
  display: block;
}

.projects {
  padding-top: 35px;
}
.projects__top {
  margin-bottom: 50px;
}
.projects__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 2px solid #d7d7d7;
}
.projects__btn {
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 50px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__btn.active {
  color: #1b4ed1;
  border-color: #1b4ed1;
}
.projects__btn.active .projects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__nav {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  gap: 30px;
}
.projects__arr {
  --stroke: #d7d7d7;
  padding: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__arr:hover {
  --stroke: #1b4ed1;
}
.projects__arr svg path {
  stroke: var(--stroke);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__tab {
  display: none;
}
.projects__tab.active {
  display: block;
}
.projects__swiper {
  margin-bottom: 40px;
}
.projects__slide {
  width: 800px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__slide.active {
  opacity: 1;
}
.projects__pag {
  width: 800px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.projects__bullet {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  background-color: #d7d7d7;
}
.projects__bullet.active {
  background-color: #1b4ed1;
}

.project {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__top {
  background-color: #1b4ed1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}
.project__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 35px;
  position: relative;
}
.project__img:before {
  content: "";
  width: 1px;
  height: 47px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.project__name {
  padding-left: 35px;
  color: #ffffff;
  font-family: Inter;
  font-size: 17px;
}
.project__bottom {
  padding: 30px 40px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.project__title {
  margin-bottom: 18px;
}
.project__ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 50px;
}
.project__items {
  margin-top: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project__val {
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.project__txt {
  color: #1b4ed1;
  font-family: Inter;
  font-size: 17px;
  text-transform: uppercase;
}

.page {
  padding-bottom: 200px;
}
.page__section {
  margin-bottom: 0;
}

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  display: none;
}
.debug > div {
  height: inherit;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1919.98px) {
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1439.98px) {
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1023.98px) {
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 767.98px) {
  .debug > div > div {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 575.98px) {
  .debug > div > div {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(4.1666666667% - 20px);
  height: inherit;
  outline: 1px solid red;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767.98px) {
  .debug > div > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 575.98px) {
  .debug > div > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767.98px) {
  .debug > div > div > div {
    width: calc(4.1666666667% - 10px);
  }
}
@media screen and (max-width: 575.98px) {
  .debug > div > div > div {
    width: calc(4.1666666667% - 10px);
  }
}
/*# sourceMappingURL=style.css.map */