extends ../../../main

block variables
    - var title = 'Мошенничество – новая старая чума'

block content
    main.page
        section.page__section
            - var img = '/images/content/news/4.jpg';
            include ../../../components/article-banner/index
        section.page__section.mb-150
            .container
                .article
                    .article__grid
                        .article__left
                            .article__date 17 апреля  |  Статьи
                        .article__center
                            h2.article__title Мошенничество – новая старая чума
                            .article__content.content
                                p Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть максимально защищены с точки зрения технологий. Умышленные действия (или бездействия) физических или юридических лиц могут нанести материальный (и нематериальный) ущерб. А в данный момент, когда ведутся масштабные кибератаки на финансовые организации, защита становится в разы важнее.
                                p В сложившейся ситуации немаловажным становится использование отечественных средств защиты, как гарантии работоспособности этих систем ввиду независимости от внешних факторов, таких как отключения систем в виду санкций или ухода ряда компаний с российского рынка.
                                p Системы мониторинга, обнаружения, управления уровнем фрода однозначно первая системообразующая база для нормального ведения бизнеса, а в случае с банками первая необходимость.
                                p
                                    b Необходимо решение, которое может:
                                ul
                                    li дать эффективный набор инструментов управления рисками и контроля мошенничества, включая комплексный сбор данных, обработку полученной информации в реальном времени, построение поведенческих профилей, формирование статистических виджетов и оперативной отчетности.
                                    li эффективно использовать методы машинного обучения (machine learning) для выявления мошеннических операций.
                                    li работать автономно и в онлайн-режиме, предотвращая попытки совершения мошеннических операций с использованием различных каналов.
                                    li одинаково успешно применяться для мониторинга операций, производимых через банкоматы, POS-терминалы, каналы ДБО, системы электронной и мобильной коммерции и т.д.
                                    li производить анализ всех подключенных каналов с использованием единого движка, обеспечивая возможность кросс-канального анализа данных
                                    li предоставить инструменты анализа, проведения расследования и принятия решений по выявленным инцидентам.
                                    li обеспечить средства настройки различных шаблонов реагирования системы в случае выявления подозрительных операций или событий.
                                h3 Оптимальное решение
                                p Система предотвращения мошенничества (СмартВиста Предотвращение мошенничества) - кросс-канальная аналитическая платформа, предназначенная для онлайн мониторинга событий из различных источников с целью выявления атипичного поведения, в том числе подозрительных и мошеннических действий, и своевременного реагирования для снижения рисков
                                p
                                    b Система предотвращения мошенничества СмартВиста предлагает:
                                ul
                                    li Средства настройки внешних онлайн интерфейсов
                                    li Средства настройки бизнес-правил и схем контроля
                                    li Средства построения поведенческих моделей
                                    li Инструменты построения аналитических моделей с использованием методов машинного обучения
                                    li Средства настройки автоматического исполнения бизнес-процессов
                                    li Средства управления инцидентами
                                    li Средства построения отчетности и визуального анализа данных
                                p Использование решения не только для целей противодействия мошенничеству, но и рисковой оценки операций, включая аутентификацию клиента в 3DS2 и платежи СБП, а также клиентское профилирование для формирования предложений специфичных продуктов и услуг.
                                img(src="/images/content/image148.jpg" alt="lorem")
                                br
                                h3 Функциональные возможности
                                p
                                    b СмартВиста Предотвращение мошенничества обеспечивает следующие функциональные возможности:
                                ul
                                    li Обнаружение мошеннических операций по запросу от внешней системы.
                                    li Анализ событий нефинансового характера.
                                    li Полная автоматизация процесса выявления мошеннических транзакций, проведения расследования и принятия решений.
                                    li Выявление различных схем мошенничества.
                                    li Настройка индивидуальных сценариев поведения клиента.
                                    li Построение поведенческой модели в разрезе произвольных атрибутов.
                                    li Осуществление мониторинга транзакционной активности карт, терминалов, ТСП, клиентов, сотрудников и других объектов.
                                    li Динамическая настройка полей, по которым можно осуществлять мониторинг мошенничества.
                                    li Возможность настройки различных шаблонов реагирования системы в случае выявления мошеннических операций.
                                    li Приостановление операций.
                                    li Немедленное ограничение любой активности подозрительных карт, терминалов, ТСП, клиентов, сотрудников и других объектов.
                                    li Настройка нотификации сотрудников банка (или клиентов) в случае срабатывания заданных событий.
                                    li Ведение белых, черных и фродовых списков как в ручном, так и в автоматическом режиме.
                                    li Возможность загружать словарные данные по анализируемым объектам и использовать их при разборе расследований.
                                    li Отслеживание причин срабатывания (несрабатывания) настроенных правил через web-интерфейс.
                                    li Разделение данных в интерфейсе на области видимости для различных подразделений Заказчика.
                                    li Построение форм оперативной отчетности.
                                h3 Импортозамещение
                                p Компания БПЦ уже более 25 лет занимается разработкой глобальных технологических платформ (цифровых экосистем)  и является российским разработчиком, аккредитованным Министерством цифрового развития РФ, в лице компании ООО "БПЦ Банковские технологии". Компания работает на проверенных отечественных решениях, таких как СУБД PostgreSQL Pro, используемых в государственном секторе. ПО БПЦ зарегистрировано в едином реестре российских программ для ЭВМ и БД.
                                p
                                    b БПЦ это:
                                ul
                                    li Разработка ПО на территории РФ
                                    li Русскоязычная поддержка
                                    li Офисы и представительства в различных городах РФ
                                    li Поставщик ПО для государственного сектора (работа по 44-ФЗ от 223-ФЗ)
                                    li ПО зарегистрировано в едином реестре российских программ для ЭВМ и БД
                                    li Лицензии на ПО не облагаются налогом
                                    li Входит в Cписок аккредитованных организаций Министерства цифрового
                                    li развития, связи массовых коммуникаций РФ
                                    li Поддержка  Российского окружения (СУБД, ОС)
                                    li Наличие лицензии ФСБ на разработку, производство и распространение
                                    li криптографических (шифровальных) систем
                                    li Наличие лицензии ФСТЭК по технической защите конфиденциальной информации
                        .article__right
                            .article-another
                                include ../../../components/article-another/index

        section.page__section
            include ../../../components/article-more/index





