.import-banner
    .container
        .import-banner__container
            .import-banner__img
                <svg width="812" height="811" viewBox="0 0 812 811" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M406 0.499982C629.675 0.499973 811 181.825 811 405.5M0.999982 405.5C0.999984 440.012 5.31671 473.515 13.4397 505.5M49.3145 597.5C117.725 724.322 251.798 810.5 406 810.5C565.811 810.5 704.003 717.937 769.889 583.5" stroke="white"/>
                <path opacity="0.3" d="M406 0.499982C629.675 0.499973 811 181.825 811 405.5C811 629.175 629.675 810.5 406 810.5C182.325 810.5 0.999992 629.175 0.999982 405.5C0.999973 181.825 182.325 0.499992 406 0.499982ZM406 588.164C506.882 588.164 588.664 506.382 588.664 405.5C588.664 304.617 506.882 222.836 406 222.836C305.117 222.836 223.336 304.617 223.336 405.5C223.336 506.382 305.117 588.164 406 588.164Z" fill="url(#paint0_linear_664_4287)" fill-opacity="0.43"/>
                <path d="M136 405.499C136 486.006 171.235 558.283 227.125 607.75" stroke="white" stroke-width="3.375"/>
                <g opacity="0.5">
                <path d="M406 150.5C546.833 150.5 661 264.667 661 405.5M406 660.5C462.658 660.5 514.999 642.022 557.328 610.764" stroke="white" stroke-width="0.836066"/>
                </g>
                <path d="M261.019 253.577C231.754 281.513 210.548 317.819 201.244 358.654M366.826 611.853C379.517 614.247 392.612 615.5 406 615.5C427.8 615.5 448.825 612.178 468.595 606.013" stroke="white" stroke-width="3.23077"/>
                <g opacity="0.3">
                <path d="M406 545.5C483.32 545.5 546 482.82 546 405.5C546 328.18 483.32 265.5 406 265.5C328.68 265.5 266 328.18 266 405.5" stroke="white" stroke-width="0.736842"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_664_4287" x1="811" y1="405.5" x2="0.999934" y2="405.5" gradientUnits="userSpaceOnUse">
                <stop offset="0.619792" stop-color="white" stop-opacity="0"/>
                <stop offset="1" stop-color="white"/>
                </linearGradient>
                </defs>
                </svg>
            .import-banner__title
                div.text-border Безопасность
                div.text-border и надежность
            .import-banner__content
                h2.import-banner__sub Безопасность и надежность
                .import-banner__txt.sub.
                    Мы аккредитованны Министерство цифрового развития, связи и массовых коммуникаций Российской Федерации, в лице компании
                    ООО "БПЦ Банковские технологии"

