extends ../../main

block variables
    - var title = 'О компании'

block content
    main.page
        section.page__section
            -
                var banner = {
                    img: '/images/content/about/banner.jpg',
                    title: 'О компании',
                    txt: 'БПЦ Банковские технологии – ведущий российский разработчик платформ для платежных финансовых сервисов. Мы входим в список аккредитованных организаций Министерства цифрового развития, связи и массовых коммуникаций РФ, имеем лицензии ФСБ и ФСТЭК. Наши продукты внесены в Реестр отечественного ПО, поддерживают российские ОС и СУБД, регулярно проходят проверки на уязвимости.'
                };
            include ../../components/banner/index
        //section.page__section.mt-100.mb-150
        //    .container
        //        -
        //            var video = {
        //                img: '/images/content/about/video.jpg',
        //                video: 'https://www.youtube.com/watch?v=R4yZ15_gwC4'
        //            };
        //        include ../../components/video/index
        section.page__section.mb-150.mt-100
            .container
                include ../../components/emps/index
        section.page__section.mb-150
            include ../../components/partners/index
        section.page__section
            include ../../components/brands/index







