.mmenu-btn{
  position: relative;
  display: flex;
  width: 20px;
  height: 10px;
  @include sm-block{
    width: 28px;
    height: 18px;
  }

  &__line{
    width: 20px;
    height: 1px;
    background: $black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include sm-block{
      width: 28px;
      height: 2px;
    }

    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &:nth-child(3){
      top: 100%;
    }
  }
}