.projects
    -
        var projects = {
            'budget': {
                name: 'Госы',
                list: [
                    {
                        img: '/images/content/projects/sber.svg',
                        name: 'СберБанк',
                        title: 'Процессинговое решение СмартВиста установлено в качестве фронтального решения по подключению и управлению международных платежных сетей, НСПК, сети банкоматов и POS-терминалов (включая mPos) Банка. Решение позволяет обеспечивать комплексную обработку карточных платежей и управление торговыми процессами для крупнейшего эквайера России. ',
                        ul: [
                            'Оплата картами, в том числе по бесконтактной технологии',
                            'Оплата по отпечатку, по лицу, QR кодом',
                            'Поддержка многочисленных способов оплаты, включая Sberpay и оплата цифровыми сертификатами',
                            'Поддержка всех актуальных способов защиты платежей: EMV, 3D Secure и тп'
                        ],
                        desc: [
                            {
                                val: '2 млн +',
                                txt: 'Терминалов'
                            },
                            {
                                val: '75 000 +',
                                txt: 'банкоматов'
                            },
                            {
                                val: '280 млн +',
                                txt: 'в розничном сегменте России'
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/gazprom.svg',
                        name: 'Газпромбанк',
                        title: 'Процессинговый центр Газпромбанк более 20 лет использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизацию и маршрутизацию транзакций;',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Дистанционное банковское обслуживание и многое другое'
                        ],
                        desc: [
                            {
                                val: '5 млн',
                                txt: 'физических лиц'
                            },
                            {
                                val: '61 тыс +',
                                txt: 'юридических лиц'
                            },
                            {
                                val: '31 млн +',
                                txt: 'активных пользователей'
                            },

                        ]
                    },
                    {
                        img: '/images/content/projects/alfa.svg',
                        name: 'Альфа-Банк',
                        title: 'Процессинговый центр АльфаБанк использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизация и маршрутизация транзакций;',
                            'Систему предотвращения мошенничества',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Вариативность P2P переводов',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Персонализация банковских карт',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Моментальный выпуск карт в отделениях Банка и многое другое'
                        ],
                        desc: [
                            {
                                val: '22 млн',
                                txt: 'частных клиентов'
                            },
                            {
                                val: '1 млн +',
                                txt: 'корпоративных клиентов'
                            },
                            {
                                val: '3 место',
                                txt: 'в розничном сегменте России '
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/kaznacheistvo.svg',
                        name: 'Федеральное Казначейство',
                        title: 'Создана подсистема управления денежными средствами и проведена успешная миграция основной платформы расчетов СмартВиста Бэк Офис с Oracle на Postgres Pro',
                        ul: [
                            'Ведение аналитического и синтетического учета по казначейским счетам',
                            'Обработка дебетовых и кредитовых платежных поручений в режиме реального времени',
                            'Генерация проводок по бизнес - правилам в режиме реального времени',
                            'Межбанковские расчеты, взаимодействие с ЦБ(УФЭБС)',
                            'Учет валютных операций',
                            'Генерация аналитической и синтетической отчетности'
                        ],
                        desc: [
                            {
                                val: '2 млн',
                                txt: 'сообщений в час'
                            },
                            {
                                val: '10 млн +',
                                txt: 'входящих сообщений в день'
                            },
                            {
                                val: '20 млн +',
                                txt: 'исходящих сообщений в день'
                            }
                        ]
                    },
                ]
            },
            'banks': {
                name: 'Банки',
                list: [
                    {
                        img: '/images/content/projects/sber.svg',
                        name: 'СберБанк',
                        title: 'Процессинговое решение СмартВиста установлено в качестве фронтального решения по подключению и управлению международных платежных сетей, НСПК, сети банкоматов и POS-терминалов (включая mPos) Банка. Решение позволяет обеспечивать комплексную обработку карточных платежей и управление торговыми процессами для крупнейшего эквайера России. ',
                        ul: [
                            'Оплата картами, в том числе по бесконтактной технологии',
                            'Оплата по отпечатку, по лицу, QR кодом',
                            'Поддержка многочисленных способов оплаты, включая Sberpay и оплата цифровыми сертификатами',
                            'Поддержка всех актуальных способов защиты платежей: EMV, 3D Secure и тп'
                        ],
                        desc: [
                            {
                                val: '2 млн +',
                                txt: 'Терминалов'
                            },
                            {
                                val: '75 000 +',
                                txt: 'банкоматов'
                            },
                            {
                                val: '280 млн +',
                                txt: 'в розничном сегменте России'
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/gazprom.svg',
                        name: 'Газпромбанк',
                        title: 'Процессинговый центр Газпромбанк более 20 лет использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизацию и маршрутизацию транзакций;',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Дистанционное банковское обслуживание и многое другое'
                        ],
                        desc: [
                            {
                                val: '5 млн',
                                txt: 'физических лиц'
                            },
                            {
                                val: '61 тыс +',
                                txt: 'юридических лиц'
                            },
                            {
                                val: '31 млн +',
                                txt: 'активных пользователей'
                            },

                        ]
                    },
                    {
                        img: '/images/content/projects/alfa.svg',
                        name: 'Альфа-Банк',
                        title: 'Процессинговый центр АльфаБанк использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизация и маршрутизация транзакций;',
                            'Систему предотвращения мошенничества',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Вариативность P2P переводов',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Персонализация банковских карт',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Моментальный выпуск карт в отделениях Банка и многое другое'
                        ],
                        desc: [
                            {
                                val: '22 млн',
                                txt: 'частных клиентов'
                            },
                            {
                                val: '1 млн +',
                                txt: 'корпоративных клиентов'
                            },
                            {
                                val: '3 место',
                                txt: 'в розничном сегменте России '
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/kaznacheistvo.svg',
                        name: 'Федеральное Казначейство',
                        title: 'Создана подсистема управления денежными средствами и проведена успешная миграция основной платформы расчетов СмартВиста Бэк Офис с Oracle на Postgres Pro',
                        ul: [
                            'Ведение аналитического и синтетического учета по казначейским счетам',
                            'Обработка дебетовых и кредитовых платежных поручений в режиме реального времени',
                            'Генерация проводок по бизнес - правилам в режиме реального времени',
                            'Межбанковские расчеты, взаимодействие с ЦБ(УФЭБС)',
                            'Учет валютных операций',
                            'Генерация аналитической и синтетической отчетности'
                        ],
                        desc: [
                            {
                                val: '2 млн',
                                txt: 'сообщений в час'
                            },
                            {
                                val: '10 млн +',
                                txt: 'входящих сообщений в день'
                            },
                            {
                                val: '20 млн +',
                                txt: 'исходящих сообщений в день'
                            }
                        ]
                    },
                ]
            },
            'corp': {
                name: 'Корпоративный сектор',
                list: [
                    {
                        img: '/images/content/projects/sber.svg',
                        name: 'СберБанк',
                        title: 'Процессинговое решение СмартВиста установлено в качестве фронтального решения по подключению и управлению международных платежных сетей, НСПК, сети банкоматов и POS-терминалов (включая mPos) Банка. Решение позволяет обеспечивать комплексную обработку карточных платежей и управление торговыми процессами для крупнейшего эквайера России. ',
                        ul: [
                            'Оплата картами, в том числе по бесконтактной технологии',
                            'Оплата по отпечатку, по лицу, QR кодом',
                            'Поддержка многочисленных способов оплаты, включая Sberpay и оплата цифровыми сертификатами',
                            'Поддержка всех актуальных способов защиты платежей: EMV, 3D Secure и тп'
                        ],
                        desc: [
                            {
                                val: '2 млн +',
                                txt: 'Терминалов'
                            },
                            {
                                val: '75 000 +',
                                txt: 'банкоматов'
                            },
                            {
                                val: '280 млн +',
                                txt: 'в розничном сегменте России'
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/gazprom.svg',
                        name: 'Газпромбанк',
                        title: 'Процессинговый центр Газпромбанк более 20 лет использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизацию и маршрутизацию транзакций;',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Дистанционное банковское обслуживание и многое другое'
                        ],
                        desc: [
                            {
                                val: '5 млн',
                                txt: 'физических лиц'
                            },
                            {
                                val: '61 тыс +',
                                txt: 'юридических лиц'
                            },
                            {
                                val: '31 млн +',
                                txt: 'активных пользователей'
                            },

                        ]
                    },
                    {
                        img: '/images/content/projects/alfa.svg',
                        name: 'Альфа-Банк',
                        title: 'Процессинговый центр АльфаБанк использует полный перечень решений СмартВиста:',
                        ul: [
                            'Авторизация и маршрутизация транзакций;',
                            'Систему предотвращения мошенничества',
                            'Наземный торговый эквайринг',
                            'Электронную коммерцию',
                            'Вариативность P2P переводов',
                            'Эмиссию банковских карт(в том числе и кобейджинговых)',
                            'Персонализация банковских карт',
                            'Полный спектр услуг на банкоматах',
                            'Токенизацию, выпуск цифровых карт',
                            'Моментальный выпуск карт в отделениях Банка и многое другое'
                        ],
                        desc: [
                            {
                                val: '22 млн',
                                txt: 'частных клиентов'
                            },
                            {
                                val: '1 млн +',
                                txt: 'корпоративных клиентов'
                            },
                            {
                                val: '3 место',
                                txt: 'в розничном сегменте России '
                            }
                        ]
                    },
                    {
                        img: '/images/content/projects/kaznacheistvo.svg',
                        name: 'Федеральное Казначейство',
                        title: 'Создана подсистема управления денежными средствами и проведена успешная миграция основной платформы расчетов СмартВиста Бэк Офис с Oracle на Postgres Pro',
                        ul: [
                            'Ведение аналитического и синтетического учета по казначейским счетам',
                            'Обработка дебетовых и кредитовых платежных поручений в режиме реального времени',
                            'Генерация проводок по бизнес - правилам в режиме реального времени',
                            'Межбанковские расчеты, взаимодействие с ЦБ(УФЭБС)',
                            'Учет валютных операций',
                            'Генерация аналитической и синтетической отчетности'
                        ],
                        desc: [
                            {
                                val: '2 млн',
                                txt: 'сообщений в час'
                            },
                            {
                                val: '10 млн +',
                                txt: 'входящих сообщений в день'
                            },
                            {
                                val: '20 млн +',
                                txt: 'исходящих сообщений в день'
                            }
                        ]
                    },
                ]
            },
        };
    .projects__top
        .container
            .projects__btns
                button(type='button' data-id='all').projects__btn
                    span Все
                    span.projects__nav
                        a(href="#").projects__arr.projects__prev
                            <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 30L2 15.5L16 1" stroke="#D7D7D7" stroke-width="2"/>
                            </svg>
                        a(href="#").projects__arr.projects__next
                            <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 30L15 15.5L1 1" stroke="#1B4ED1" stroke-width="2"/>
                            </svg>
                each i,x in projects
                    button(type='button' data-id=x).projects__btn
                        span= i.name
                        span.projects__nav
                            a(href="#").projects__arr.projects__prev
                                <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 30L2 15.5L16 1" stroke="#D7D7D7" stroke-width="2"/>
                                </svg>
                            a(href="#").projects__arr.projects__next
                                <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 30L15 15.5L1 1" stroke="#1B4ED1" stroke-width="2"/>
                                </svg>
    .projects__bottom
        .projects__tabs
            div(data-id='all').projects__tab
                .projects__slider
                    .projects__swiper.swiper
                        .swiper-wrapper
                            each i in projects.budget.list
                                include slide
                            each i in projects.banks.list
                                include slide
                            each i in projects.corp.list
                                include slide
                    .projects__pag
            each tab,x in projects
                div(data-id=x).projects__tab
                    .projects__slider
                        .projects__swiper.swiper
                            .swiper-wrapper
                                each i in tab.list
                                    include slide
                        .projects__pag






