.feed {

  .container{
    @include md-block{
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: 715fr 690fr;

    @include lg-block {
      grid-template-columns: 100%;
      gap: 50px;
    }
  }

  &__left{
    @include md-block{
      padding: 0 60px;
    }
    @include sm-block{
      padding: 0 15px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__sub {
    --maw: 460px;
    width: min(100%, var(--maw));
    @include lg-block {
      --maw: 530px;
    }
  }

  &__right{

  }

  &__form {
    padding: 60px 120px 80px 40px;
    background-color: var(--feedBgc);
    position: relative;
    @include lg-block{
      padding-top: 50px;
    }
    @include md-block{
      padding: 50px 60px 80px 60px;
    }
    @include sm-block{
      padding: 40px 15px;
    }

    &:before{
      content: 'Мы скоро с Вами свяжемся!';
      display: none;
      align-items: center;
      justify-content: center;
      background-color: var(--feedBgc);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @extend .h3;
    }

    &.sended{
      &:before{
        display: flex;
      }
    }
  }

}