-
    var nav = [
        {
            title: 'Направления',
            list: [
                {
                    href: '/services/payment/',
                    title: 'Платежи / процессинг / биллинг',
                    ul: [
                        'Выпуск и обслуживание карт (дебитные, кредитные, виртуальные и т.д.)',
                        'Расчеты с торговыми точками',
                        'Управлением терминальной сетью предприятия',
                        'Интеграция и расчеты с платежными системами / СБП',
                    ]
                },
                {
                    href: '/services/fraud/',
                    title: 'Предотвращение мошенничества и оценка рисков',
                    ul: [
                        'Мониторинг мошенничества по картам и терминалам',
                        'Мониторинг мошенничества для ДБО / СБП',
                        'Мониторинг мошенничества для АБС / AML',
                        'Омниканальный мониторинг мошенничества',
                    ]
                },
                {
                    href: '/services/transformation/',
                    title: 'Цифровая трансформация каналов обслуживания',
                    ul: [
                        'Мобильный и интернет банкинг',
                        'Агентский банкинг',
                        'Приложение и портал для мерчантов',
                        'Удаленное кредитование',
                    ]
                },
                {
                    href: '/services/ecosystems/',
                    title: 'Экосистемы и цифровая трансформация',
                    ul: [
                        'Маркетплейс',
                        'O-City',
                        'Электронное государство',
                        'Цифровая экосистема сервисов / интеграционная платформа / API',
                    ]
                },

            ]
        },
        {
            title: 'Проекты',
            href: '/projects/'
        },
        {
            title: 'Импортозамещение',
            href: '/import/'
        },
        {
            title: 'Пресс-центр',
            href: '/news/'
        },
        {
            title: 'О компании',
            href: '/about/'
        },

    ];