.fields{
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__input{
    padding: 12px 0;
    color: $txt;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid $border;
    width: 100%;

    &:focus,&:active{
      border-color: $blue;
    }

    &:focus:invalid,&:active:invalid{
      border-color: $red;
    }
  }
}