.article {
  position: relative;
  padding-top: 100px;
  @include md-block {
    padding-top: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'left center center right';
    align-items: flex-start;
    gap: 20px;
    @include md-block {
      grid-template-columns: 100%;
      grid-template-areas: 'left' 'center';
      gap: 50px;
    }
    @include sm-block{
      grid-template-areas: 'center';
    }
  }

  &__left {
    padding-top: 10px;
    grid-area: left;
    @include sm-block{
      display: none;
    }
  }

  &__date {
    color: $grey;
    font-family: Inter;
    font-size: 16px;
  }

  &__center {
    grid-area: center;
  }

  &__title {
    margin-bottom: 45px;
    @include xlg-block {
      margin-bottom: 20px;
    }
  }

  &__right {
    padding-top: 10px;
    grid-area: right;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    @include md-block {
      display: none;
    }
  }

}