extends ../../../main

block variables
    - var title = 'Предотвращение мошенничества и оценка рисков'

block content
    main.page
        section.page__section
            -
                var banner = {
                    img: '/images/content/services/img.jpg',
                    title: 'Предотвращение<br> мошенничества<br> и оценка рисков'
                };
            include ../../../components/service-banner/index
        section.page__section
            .container
                -
                    var content = {
                        sub: '<p>Мошенничество  – это не только финансовые потери, но и значительный репутационный риск,  реализация которого может привести к оттоку клиентов. Чтобы минимизировать риски  мошенничества, поставщикам платежных услуг следует в реальном времени  анализировать каждую финансовую транзакцию и нефинансовое событие и осуществлять  мониторинг мошенничества по всем используемым каналам. Помимо поканального  мониторинга ключевой является возможность обеспечения кросс-канального  мониторинга во всех финансовых сервисах, предоставляемых клиентам.  </p><br><p>Система  предотвращения мошенничества СмартВиста – кросс-канальная аналитическая  платформа, предназначенная для онлайн мониторинга событий из различных  источников с целью выявления атипичного поведения, в том числе подозрительных и  мошеннических действий, и своевременного реагирования для снижения  рисков.</p>'
                    };
                include ../../../components/service-content/index
        section.page__section
            .container
                -
                    var platforms = {
                        title: 'Решения',
                        arr: [
                            {
                                img: '/images/content/platforms/5.jpg',
                                title: 'Мониторинг мошенничества по картам и ТСП',
                                txt: 'Мониторинг операций в эмитентском (карты) и эквайрерском  (торгово-сервисные предприятия (ТСП) и терминалы) каналах, как с присутствием  карты, так и при совершении операций в Интернет, позволяет предотвращать  мошенничество и расследовать инциденты.',
                            },
                            {
                                img: '/images/content/platforms/6.jpg',
                                title: 'Мониторинг мошенничества для ДБО / СБП',
                                txt: 'Мониторинг финансовых и нефинансовых операций в ДБО с  возможностью приостановки подозрительных платежей до подтверждения позволяет  эффективно бороться с мошенничеством. В части мониторинга СБП обеспечивается  соответствие требованиям регулятора и управление рисками.'
                            },
                            {
                                img: '/images/content/platforms/7.jpg',
                                title: 'Мониторинг мошенничества для АБС / AML',
                                txt: 'Мониторинг платёжных операций из АБС в режиме реального  времени позволяет предотвращать исполнение запрещённых и приостанавливать  финансовые операции с высоким риском до подтверждения, а также обеспечивать  соответствие требованиям регулятора.'
                            },
                            {
                                img: '/images/content/platforms/8.jpg',
                                title: 'Омниканальный мониторинг мошенничества',
                                txt: 'Мониторинг финансовых и нефинансовых операций в различных  каналах позволяет не только управлять рисками в каждом из них, но и обеспечить  построение аналитических моделей для противодействия сложным и современным  кросс-канальным атакам.'
                            },
                        ]
                    };
                include ../../../components/main-platforms/index
        section.page__section
            include ../../../components/brands/index





