.main-banner
    .main-banner__img
        img(src="images/content/main-banner/img.jpg" alt="Мы строим платформы для финансовых сервисов")
        .main-banner__animation
            include ../circles/index
    .main-banner__container
        .main-banner__left
            .main-banner__content.content
                h1 Мы строим платформы для финансовых сервисов
                p
                    b 27 лет мы разрабатываем и внедряем уникальные цифровые платформы для платежных и финансовых сервисов в банках, госструктурах, крупном бизнесе.
                a(href="#feed") Обсудить проект
