.main-banner {
  background-color: $grey-light;
  position: relative;
  height: 780px;
  @include xlg-block {
    height: 720px;
  }
  @include lg-block {
    height: 570px;
  }
  @include md-block {
    height: auto;
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(950 / 1920 * 100%);
    @include md-block {
      position: relative;
      width: 100%;
      aspect-ratio: 768/309;

    }
    @include sm-block{
        aspect-ratio: 375/309;
    }

    img {
      position: absolute;
      z-index: 2;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__animation {
    position: absolute;
    z-index: 1;
    left: -347px;
    top: 50%;
    transform: translateY(-50%);
    @include lg-block {
      display: none;
    }
  }

  &__container {
    width: 100%;
    max-width: var(--container-big-width);
    padding: var(--container-big-padding);
    margin: 0 auto;
    @include md-block {
      --container-big-padding: 60px 40px;
    }
    @include sm-block{
      --container-big-padding: 40px 15px;
    }
  }

  &__left {
    padding-top: 130px;
    @include xlg-block {
      padding-left: 110px;
    }
    @include lg-block {
      padding-top: 110px;
      padding-left: 60px;
    }
    @include md-block {
      padding: 0;
    }
  }

  &__content {
    max-width: 687px;
    @include xlg-block {
      width: 550px;
    }
    @include lg-block {
      max-width: 420px;
    }
    @include md-block{
      max-width: 485px;
    }
    @include sm-block{
      width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 50px;
      @include md-block{
        margin-bottom: 40px;
      }

      b {
        @extend .sub;
      }
    }

    a {
      @extend %btn;
    }
  }

}