.article-another
    .article-another__title Другие новости БПЦ
    .article-another__list
        a(href="/news/1/").article-another__item.h4 СмартВиста День состоится 2 июня
        a(href="/news/3/").article-another__item.h4 Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке