.import-compatibility
    .import-compatibility__left
        h2.import-compatibility__title
            |Совместимость&nbsp;
            br
            span.color-blue с российским и свободно <br> распространяемым ПО
    .import-compatibility__right
        .import-compatibility__imgs
            each i in [1,2,3]
                .import-compatibility__img
                    img(src=`/images/content/import-compatibility/${i}.svg` alt="lorem")
        .import-compatibility__txt Технологический суверенитет, безопасность финансовых операций, обеспечение конфиденциальности данных, безопасность от внешних кибератак – сегодняшний фундамент роста. Мы в БПЦ делаем наши продукты совместимыми с российским и свободно распространяемым ПО. Мы поддерживаем и развиваем отношения со своими партнерами для обеспечения вашего удобства, защищенности и успеха вашего бизнеса.