extends ../../main

block variables
    - var title = 'Импортозамещение'

block content
    main.page
        section.page__section
            -
                var banner = {
                    img: '/images/content/import/banner.jpg',
                    title: 'Импортозамещение в критических информационных инфраструктурах',
                    txt: 'Программные продукты БПЦ разработаны в Российской Федерации, соответствуют всем критериям импортозамещения и устойчивости к санкциям'
                };
            include ../../components/banner/index
        section.page__section
            .container
                include ../../components/import-dev/index
        section.page__section
            include ../../components/import-products/index
        section.page__section
            .container
                include ../../components/import-compatibility/index
        section.page__section
            include ../../components/import-banner/index
        section.page__section
            .container
                include ../../components/import-about/index
        section.page__section
            include ../../components/brands/index






