.circles
    <svg width="810" height="810" viewBox="0 0 810 810" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g>
            <path d="M675 405C675 255.883 554.117 135 405 135C255.883 135 135 255.883 135 405C135 465.289 154.76 520.962 188.156 565.897M665.829 475.031C634.985 590.198 529.896 675 405 675C383.358 675 362.31 672.454 342.141 667.644" stroke="#1B4ED1" stroke-width="0.84375"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="90s" from="0 405 405" to="360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M405 135C324.493 135 252.216 170.235 202.749 226.125" stroke="white" stroke-width="3.375"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="45s" from="0 405 405" to="360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M660 405C660 545.833 545.833 660 405 660M150 405C150 461.658 168.478 513.999 199.736 556.328" stroke="#1B4ED1" stroke-width="0.836066"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="45s" from="0 405 405" to="-360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M352.096 201.72C368.998 197.334 386.726 195 405 195C520.98 195 615 289.02 615 405C615 444.76 603.95 481.939 584.754 513.635M210.76 325.038C200.603 349.685 195 376.688 195 405C195 435.336 201.432 464.17 213.008 490.212M228.532 518.885C265.935 576.722 330.997 615 405 615C451.194 615 493.903 600.085 528.577 574.808" stroke="#1B4ED1" stroke-width="0.807692"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="180s" from="0 405 405" to="360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M556.923 260.017C528.987 230.752 492.681 209.546 451.846 200.242M198.647 365.824C196.253 378.515 195 391.61 195 404.998C195 426.798 198.322 447.823 204.487 467.593" stroke="white" stroke-width="3.23077"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="45s" from="0 405 405" to="-360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M405 560C319.396 560 250 490.604 250 405C250 319.396 319.396 250 405 250C490.604 250 560 319.396 560 405C560 469.289 520.86 524.436 465.11 547.914" stroke="#1B4ED1" stroke-width="0.756098"/>
        </g>
        <g>
            <path d="M265 405C265 482.32 327.68 545 405 545C482.32 545 545 482.32 545 405C545 327.68 482.32 265 405 265" stroke="#1B4ED1" stroke-width="0.736842"/>
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="90s" from="0 405 405" to="-360 405 405" repeatCount="indefinite" / >
        </g>
        <g>
            <path d="M545 405C545 482.32 482.32 545 405 545" stroke="white" stroke-width="2.94737"/>
        </g>
        <g>
            <circle cx="405" cy="405" r="49.75" stroke="#1B4ED1" stroke-width="0.5"/>
        </g>
    </svg>



