.brands{
  width: 100%;
  overflow: hidden;

  &__title{
    text-align: center;
    margin-bottom: 65px;
    @include lg-block{
      margin-bottom: 50px;
    }
    @include sm-block{
      margin: 0 15px 50px;
      text-align: left;
      br{
        display: none;
      }
    }

  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include lg-block{
        gap: 20px;
    }
  }

  &__animate{
    animation: sliderScroll 43s linear infinite;

    &:hover{
      animation-play-state: paused;
    }

    &--reverse{
      animation: sliderScrollReverse 43s linear infinite;
    }
  }

  &__track{
    display: flex;
  }

  &__item{
    padding: 0 35px;
    flex-shrink: 0;
    filter: grayscale(1);
    display: flex;
    align-items: center;
    @include tr;

    &:hover{
      filter: grayscale(0);
    }

    img{
      display: block;
    }
  }

}

@keyframes sliderScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3290px);
  }
}

@keyframes sliderScrollReverse {
  0% {
    transform: translateX(-3290px);
  }
  100% {
    transform: translateX(0);
  }
}