extends ../../../main

block variables
    - var title = 'Цифровая трансформация каналов обслуживания'

block content
    main.page
        section.page__section
            -
                var banner = {
                    img: '/images/content/services/transformation.png',
                    title: 'Цифровая трансформация <br> каналов обслуживания'
                };
            include ../../../components/service-banner/index
        section.page__section
            .container
                -
                    var content = {
                        sub: 'Современный мир  невозможно представить без осуществления онлайн-платежей и покупок не только из  дома, но и в транспорте, с мобильного телефона. Сейчас клиенты ценят скорость и  доступность предоставляемых сервисов. Используя платформу СмартВиста, вы сможете  предоставить передовые решения для обработки любых видов безналичных платежей,  как для физических, так и для юридических лиц. А поддержка удаленных каналов  обслуживания обеспечивает минимизацию затрат для финансовых услуг и  дополнительные удобства для клиентов.'
                    };
                include ../../../components/service-content/index
        section.page__section
            .container
                -
                    var platforms = {
                        title: 'Решения',
                        arr: [
                            {
                                img: '/images/content/platforms/5.jpg',
                                title: 'Мобильный,  интернет банкинг',
                                txt: 'Кроссплатформенное  решение с LOW CODE подходом, встроенным SDK для быстрой адаптации под новые  бизнес-продукты и минимизации зависимости от поставщика. Концепция SUPER APP  дает возможность интеграции сторонних магазинов, игр и других сервисов внутри  вашего мобильного банка.  Решение включает PFM, QR-платежи, трейдинг, чат-боты и  маркетинговые кампании.',
                            },
                            {
                                img: '/images/content/platforms/6.jpg',
                                title: 'Агентский  банкинг',
                                txt: 'Решение  для обслуживания удаленных и труднодоступных регионов и клиентов, полноценный  офис в приложении для выездных сотрудников Банка/Финтеха. Решение включает  полный набор услуг, связанных с проведением платежных операций, получением  сканов документов и печать чеков.'
                            },
                            {
                                img: '/images/content/platforms/7.jpg',
                                title: 'Приложение  и портал для мерчантов',
                                txt: 'Универсальный  и наглядный портал для предприятий СМБ, обслуживающихся в Банке/Финтехе:  управление терминалами, анализ активности и оборотов по предприятию и  терминалам, операционная и управленческая отчетность, выписки.  '
                            },
                            {
                                img: '/images/content/platforms/8.jpg',
                                title: 'Удаленное  кредитование',
                                txt: 'Полнофункциональное  решение для реализации кредитного конвейера с последующим ведением кредитного  продукта.'
                            },
                        ]
                    };
                include ../../../components/main-platforms/index
        section.page__section
            include ../../../components/brands/index





