extends ../../../main

block variables
    - var title = 'Экосистемы и цифровая трансформация'

block content
    main.page
        section.page__section
            -
                var banner = {
                    img: '/images/content/services/ecosystems.png',
                    title: 'Экосистемы и цифровая<br> трансформация'
                };
            include ../../../components/service-banner/index
        section.page__section
            .container
                -
                    var content = {
                        sub: 'Платформы  БПЦ объединяют поставщиков и потребителей финансовых сервисов в государственном  и финансовом секторах экономики, предоставляя полный комплекс технологических  инструментов для задач интеграции разрозненных систем, построения платежных  экосистем, биллинга и транзакционных хабов.'
                    };
                include ../../../components/service-content/index
        section.page__section
            .container
                -
                    var platforms = {
                        title: 'Решения',
                        arr: [
                            {
                                img: '/images/content/platforms/5.jpg',
                                title: 'Маркетплейс',
                                txt: 'Платформа  для построения маркетплейса и экосистемы для собственных и партнерских продаж.  Решение предоставляет доступ к финансовым услугам (оплата, кредитование),  витринам продаж (каталог товаров, услуг) и логистическим сервисам,  профилирование клиентов для целевого таргетинга, интеграционные сервисы для  подключения партнеров.',
                            },
                            {
                                img: '/images/content/platforms/6.jpg',
                                title: 'O-City',
                                txt: 'Инновационное  решение для электронного билетирования предназначенно для транспортных  операторов и муниципалитетов. Оплата билетов или проездных общественного  транспорта, парковок, музеев, мест общественного пользования, камер хранения,  умный город.'
                            },
                            {
                                img: '/images/content/platforms/7.jpg',
                                title: 'Электронное  государство',
                                txt: 'Решения  в области автоматизации работы государственных органов, с целью упрощения,  ускорения и повышения надежности выполнения разнородных бизнес-процессов.'
                            },
                            {
                                img: '/images/content/platforms/8.jpg',
                                title: 'Цифровая  экосистема сервисов / интеграционная платформа / API',
                                txt: 'Интеграционная  платформа/умная шина данных позволяет провести цифровую трансформацию бизнеса с  минимальными изменениями существующего IT-ландшафта. В том числе и в условиях  импортозамещения зарубежных решений. Решение представляет собой интеграционную  Real-Time платформу c встроенным BPM движком, no-code/low-code SDK с широким  набором коннекторов и API.'
                            },
                        ]
                    };
                include ../../../components/main-platforms/index
        section.page__section
            include ../../../components/brands/index






