extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section.page__section
            include ../../components/main-banner/index
        section.page__section
            .container
                include ../../components/main-advs/index
        section.page__section
            include ../../components/main-about/index
        section.page__section
            .container
                -
                    var platforms = {
                        title: 'Платформы',
                        arr: [
                            {
                                img: '/images/content/platforms/1.png',
                                title: 'Транзакционная  платформа ',
                                txt: 'Высокопроизводительный инструмент обработки финансовых  сообщений, в рамках которого обеспечивается как обработка транзакций в режиме  реального времени от внешних каналов, так и автоматизация процессов ведения  клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе  платформы возможна реализация широкого ряда проектов, включая функционал  стандартного карточного/терминального бизнеса, предпроцессинг и розничные  расчеты для банковских систем, построение систем лояльности и  биллинга.',
                            },
                            {
                                img: '/images/content/platforms/2.png',
                                title: 'Интеграционная платформа',
                                txt: 'Высокопроизводительная low-code/no-code  платформа с интегрированным модулем управления бизнес-процессами (BPM), служащая для унификации информационного обмена между  разрозненными поставщиками и потребителями данных. Платформа обеспечивает  выполнение сквозных бизнес-процессов за счет оркестрации сервисов и  трансформации данных. Программное обеспечение позволяет клиентам перейти к  микросервисной архитектуре на основе открытых стандартов и стандартизованных  публичных API.'
                            },
                            {
                                img: '/images/content/platforms/3.png',
                                title: 'Аналитическая платформа',
                                txt: 'Кроссканальная платформа для online и  offline обработки информации и принятия решений на  основе бизнес-правил, статистики, профилей и алгоритмов машинного обучения с  поддержкой мониторинга платежных операций и нефинансовых событий.  Комплексное  решение для обнаружения, предотвращения и полной автоматизации процесса анализа  данных и выявления мошенничества в различных каналах: эмиссия, эквайринг,  электронная коммерция, мобильная коммерция, АБС, ДБО, СБП и др. Система  обеспечивает построение поведенческих моделей объектов, формирование и  управление инцидентами, визуальные инструменты аналитики и  отчетность.'
                            },
                            {
                                img: '/images/content/platforms/4.png',
                                title: 'Цифровые экосистемы',
                                txt: 'Платформа, позволяющая в рамках единой экосистемы объединить  поставщиков, дистрибьюторов, покупателей, государство за счет цифровизации  взаимоотношений между ними с поддержкой полного торгового цикла информационного  обмена, финансовых расчетов и логистики. На базе платформы возможна реализация  сервисного и товарного Marketplace, персонализация  клиентского взаимодействия, анализ больших данных, системы лояльности,  омниканальные сервисы взаимодействия с клиентами.'
                            },
                            {
                                img: '/images/content/platforms/9.jpg',
                                title: 'Единая цифровая платформа для дистанционного банкинга',
                                txt: 'Новое поколение решений для дистанционного банковского  обслуживания: Мобильный/Интернет Банк, Агентский Банк, Инвестиции/Доверительное  управление, приложение для торговых точек.  Платформа построена на актуальных  кроссплатформенных технологиях, минимизирующих время и затраты на разработку. В  рамках внедрения практикуется дизайн-ориентированная разработка и low-code подход, поддержка концепции  Super App и омникальности.'
                            },
                            {
                                img: '/images/content/platforms/10.jpg',
                                title: 'Платформа O-City',
                                txt: 'Платформа для построения взаиморасчетов между поставщиками и  потребителями услуг в городах, на транспорте и для социальных проектов.  Платформа позволяет реализовывать проекты в области автоматизированных решений  для взимания оплат за услуги для построения систем «Умный город», пропускных  систем, оплаты по QR кодам.'
                            }
                        ]
                    };
                include ../../components/main-platforms/index
        section.page__section
            .container
                include ../../components/main-desc/index
        section.page__section
            include ../../components/brands/index






