extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section.page__section
            include ../../components/main-banner/index
        section.page__section
            .container
                include ../../components/main-advs/index
        section.page__section
            include ../../components/main-about/index
        section.page__section
            .container
                include ../../components/main-platforms/index
        section.page__section
            .container
                include ../../components/main-desc/index
        section.page__section
            include ../../components/brands/index






