extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section.page__section
            include ../../components/main-banner/index
        section.page__section
            .container
                include ../../components/main-advs/index
        section.page__section
            include ../../components/main-about/index
        section.page__section
            .container
                -
                    var platforms = {
                        title: 'Платформы',
                        arr: [
                            {
                                img: '/images/content/platforms/1.png',
                                title: 'Транзакционная  платформа ',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.',
                            },
                            {
                                img: '/images/content/platforms/2.png',
                                title: 'Интеграционная платформа',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                            },
                            {
                                img: '/images/content/platforms/3.png',
                                title: 'Аналитическая платформа',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                            },
                            {
                                img: '/images/content/platforms/4.png',
                                title: 'Цифровые экосистемы',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                            },
                            {
                                img: '/images/content/platforms/1.png',
                                title: 'Единая цифровая платформа для дистанционного банкинга',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                            },
                            {
                                img: '/images/content/platforms/2.png',
                                title: 'Платформа O-City',
                                txt: 'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                            }
                        ]
                    };
                include ../../components/main-platforms/index
        section.page__section
            .container
                include ../../components/main-desc/index
        section.page__section
            include ../../components/brands/index






