template#templates
    #reg
        form(action='/php/ajax.php' method='post' data-event='sendForm' data-ok='regThanks').reg__form.form
            button(type='button' data-event='closeForm').form__close
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.4335 20.9723L31.6668 30.2057V32.639H29.2335L20.0002 23.4057L10.7668 32.639H8.3335V30.2057L17.5668 20.9723L8.3335 11.739V9.30566H10.7668L20.0002 18.539L29.2335 9.30566H31.6668V11.739L22.4335 20.9723Z" fill="currentColor"/>
                </svg>
            h3.form__title.h3 Чтобы <span class="color-blue">подать заявку на участие</span> в мероприятии, проверьте данные анкеты и подтвердите участие
            .form__grid
                .form__col
                    .form__items
                        .form__item
                            .form__label *ФИО
                            input(type='text' name='name' required).form__input
                        .form__item
                            .form__label Эл. Почта
                            input(type='email' name='email').form__input
                        .form__item
                            .form__label *Телефон
                            input(type='tel' name='tel' required).form__input
                        .form__item
                            .form__label *Регион/Город
                            input(type='text' name='city' required).form__input
                        .form__item
                            .form__label *Цель посещения мероприятия
                            textarea(name='city' required).form__input.form__input--area
                .form__col
                    .form__items
                        .form__item
                            .form__label *Название компании
                            input(type='text' name='company' required).form__input
                        .form__item
                            .form__label *Отрасль
                            .form__select-field
                                select(name='industry' required).form__select.
                                    <option value="" selected disabled>Выберите</option>
                                    <option value="PR / маркетинг / Event / Реклама">PR / маркетинг / Event / Реклама</option>
                                    <option value="Авиационная промышленность / Судостроение">Авиационная промышленность / Судостроение</option>
                                    <option value="Военная промышленность">Военная промышленность</option>
                                    <option value="Государственные и социальные структуры">Государственные и социальные структуры</option>
                                    <option value="Добыча полезных ископаемых">Добыча полезных ископаемых</option>
                                    <option value="ЖКХ / Сервисные и бытовые услуги">ЖКХ / Сервисные и бытовые услуги</option>
                                    <option value="Здравоохранение">Здравоохранение</option>
                                    <option value="ИТ в промышленности">ИТ в промышленности</option>
                                    <option value="Легкая промышленность">Легкая промышленность</option>
                                    <option value="Лесная / Деревообрабатывающая промышленность">Лесная / Деревообрабатывающая промышленность</option>
                                    <option value="Машиностроение / Приборостроение">Машиностроение / Приборостроение</option>
                                    <option value="Металлургия">Металлургия</option>
                                    <option value="Наука / Образование / НИОКР">Наука / Образование / НИОКР</option>
                                    <option value="Нефть / Газ">Нефть / Газ</option>
                                    <option value="Продукты питания / Одежда">Продукты питания / Одежда</option>
                                    <option value="Производство ПО">Производство ПО</option>
                                    <option value="Розница">Розница</option>
                                    <option value="Системный интегратор">Системный интегратор</option>
                                    <option value="СМИ / Интернет / Полиграфия">СМИ / Интернет / Полиграфия</option>
                                    <option value="Спорт / Отдых / Развлечение">Спорт / Отдых / Развлечение</option>
                                    <option value="Страхование">Страхование</option>
                                    <option value="Строительство / Недвижимость">Строительство / Недвижимость</option>
                                    <option value="Телекоммуникации / Связь ">Телекоммуникации / Связь </option>
                                    <option value="Услуги / Логистика / Перевозки">Услуги / Логистика / Перевозки</option>
                                    <option value="Финансы / Банки">Финансы / Банки</option>
                                    <option value="Химическая промышленность">Химическая промышленность</option>
                                    <option value="Энергетика">Энергетика</option>
                                    <option value="Юридические / Финансовые / Бизнес-услуги">Юридические / Финансовые / Бизнес-услуги</option>

                        .form__item
                            .form__label *Количество сотрудников в компании
                            .form__select-field
                                select(name='count' required).form__select.
                                    <option value="" selected disabled>Выберите</option>
                                    <option value="до 100">до 100</option>
                                    <option value="101-500">101-500</option>
                                    <option value="501-1000">501-1000</option>
                                    <option value="1001-3000">1001-3000</option>
                                    <option value="более 3000">более 3000</option>

                        .form__item
                            .form__label *Должность
                            input(type='text' name='job' required).form__input
                        .form__item
                            .form__label *Корпоративная эл. почта
                            input(type='email' name='corpEmail' required).form__input
                        .form__item
                            .form__label *Сайт компании
                            input(type='url' name='site' required).form__input

                .form__col
                    .form__accept-2
                        include ../accept/index
                    .form__captcha
                        input(type='text' name='recaptcha' required).form__captcha-input
                        div(data-sitekey='6LeIfkcUAAAAAGYkbh9pFWf618nDNB4weORfho_o').g-recaptcha

                .form__col
                    .form__item
                        .form__label Информация о компании
                        textarea(name='about').form__input.form__input--area
            button(type='submit').form__submit.btn Оставить заявку
    #regThanks
        .form.thanksForm
            .form__title.h3 Ваша заявка отправлена!
            button(type='button' data-event='closeForm').form__btn.btn Закрыть