.import-products
    .import-products__img
        img(src="/images/content/import-products/img.png" alt="lorem")
    .container.import-products__container
        h2.import-products__title.
            <span class="color-blue">БПЦ</span> может заменить продукты<br>иностранных вендоров
        .import-products__cols
            .import-products__col
                .import-products__items
                    .import-products__item
                        h3.import-products__sub Интеграционная платформа
                        ul.import-products__ul
                            li.import-products__li Mendix
                            li.import-products__li IBM ESB
                            li.import-products__li Mulesoft ESB
                            li.import-products__li ACI-UPP
                            li.import-products__li Fiorano
                            li.import-products__li TIBCO
                            li.import-products__li Camunda
            .import-products__col
                .import-products__items
                    .import-products__item
                        h3.import-products__sub Цифровой банк
                        ul.import-products__ul
                            li.import-products__li Temenos
                            li.import-products__li Kony
                            li.import-products__li Backbase
                    .import-products__item
                        h3.import-products__sub Процессинг
                        ul.import-products__ul
                            li.import-products__li ACI
                            li.import-products__li FIS
                            li.import-products__li Tieto
                            li.import-products__li Tsys
            .import-products__col
                .import-products__items
                    .import-products__item
                        h3.import-products__sub Противодействие мошенничеству
                        ul.import-products__ul
                            li.import-products__li NICE Actimize
                            li.import-products__li ACI Worldwide
                            li.import-products__li FICO
                            li.import-products__li Bottomline Technologies
                            li.import-products__li SAS Institute
                            li.import-products__li IBM Iris

