header.header
    .header__container
        .header__grid
            .header__left
                .header__logo
                    a(href="/")
                        img(src="/images/content/logo.svg" alt="logo")
            .header__center
                include ../nav/index
            .header__right
                .header__search
                    include ../search/index
                .header__link
                    a(href="#footer") Контакты
