.event-program{
  padding: 100px 0;
  @include sm-block{
    padding: 60px 0;
  }

  &__title{
    margin-bottom: 45px;
    @include sm-block{
      font-size: 45px;
      margin-bottom: 30px;
    }
  }

  &__list{
    margin: 0 -15px;
  }

  &__item{
    padding: 30px 0;
    display:grid;
    grid-template-columns: 180px 1fr 1fr;
    grid-template-areas: 'time person role';
    font-family: Inter, serif;
    @include lg-block{
        grid-template-columns: 180px 1fr;
      grid-template-areas: 'time person' 'time role';
    }
    @include md-block{
      padding: 20px 0;
    }
    @include sm-block{
      grid-template-columns: 100%;
      grid-template-areas: 'time' 'person' 'role';
      gap: 12px;
      padding: 20px 15px;
    }

    &:nth-child(even){
      background-color: $grey-light;
    }
  }

  &__time, &__person, &__role{
    padding: 0 40px;
    min-height: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid #c6c6c6;
    @include md-block{
      padding: 0 30px;
    }
    @include sm-block{
      padding: 0;
      border: none;
    }
  }

  &__time{
    padding-left: 30px;
    padding-right: 0;
    grid-area: time;

    color: $blue;
    font-size: 18px;
    font-weight: 500;
    @include sm-block{
      padding: 0;
    }
  }

  &__person{
    grid-area: person;
    @include lg-block{
      border: none;
    }
  }

  &__role{
    grid-area: role;
    border-right: none;
  }
}