
<div class="partners">
  <div class="partners__slogan">
    <div class="text-border">вместе Добиваемся</div>
    <div class="text-border">Лучшего Для вас</div>
  </div>
  <div class="container">
    <h2 class="partners__title">Наши партнеры</h2>
    <div class="partners__list">
      <div class="partners__item"><img src="/images/content/partners/1.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/2.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/3.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/4.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/5.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/6.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/7.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/8.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/9.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/10.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/11.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/12.png" alt="lorem"/></div>
      <div class="partners__item"><img src="/images/content/partners/13.png" alt="lorem"/></div>
    </div>
  </div>
</div>