.partners
    .partners__slogan
        div.text-border.partners__slogan--1 вместе <br> Добиваемся
        div.text-border.partners__slogan--2 Лучшего Для вас
    .container
        h2.partners__title Наши партнеры
        .partners__list
            each i in [1,2,3,4,5,6,7,8,9,10,11,12,13]
                .partners__item
                    img(src=`/images/content/partners/${i}.png` alt="lorem")
