.main-platforms
    .main-platforms__top
        h2.main-platforms__title=platforms.title
        .main-platforms__link.link
            a(href="#feed")
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L16 1M16 1V16M16 1H1" stroke="#1B4ED1" stroke-width="2"/>
                </svg>
                span Обсудить проект
    .main-platforms__bottom
        -
            var arr = platforms.arr;
        include ../platforms/index