.main-platforms
    .main-platforms__top
        h2.main-platforms__title Платформы
        .main-platforms__link.link
            a(href="#feed")
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L16 1M16 1V16M16 1H1" stroke="#1B4ED1" stroke-width="2"/>
                </svg>
                span Обсудить проект
    .main-platforms__bottom
        -
            var arr = [
                {
                    img: '/images/content/platforms/1.png',
                    title: 'Транзакционная  платформа ',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.',
                },
                {
                    img: '/images/content/platforms/2.png',
                    title: 'Интеграционная платформа',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                },
                {
                    img: '/images/content/platforms/3.png',
                    title: 'Аналитическая платформа',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                },
                {
                    img: '/images/content/platforms/4.png',
                    title: 'Цифровые экосистемы',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                },
                {
                    img: '/images/content/platforms/1.png',
                    title: 'Единая цифровая платформа для дистанционного банкинга',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                },
                {
                    img: '/images/content/platforms/2.png',
                    title: 'Платформа O-City',
                    txt:'Высокопроизводительный инструмент обработки финансовых сообщений, в рамках которого обеспечивается как обработка транзакций в режиме реального времени от внешних каналов, так и автоматизация процессов ведения клиентов, построения расчетов с торговыми точками и поставщиками услуг. На базе платформы возможна реализация широкого ряда проектов, включая функционал стандартного карточного/терминального бизнеса, предпроцессинг и розничные расчеты для банковских систем, построение систем лояльности и биллинга.'
                }
            ];
        include ../platforms/index