a(href=video.video data-fancybox).video
    img(src=video.img alt="lorem")
    span.video__btn
        <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle opacity="0.5" cx="55.0008" cy="55.0008" r="55.0008" fill="#1B4ED1"/>
        <path d="M66.6343 55.0037L49.7109 45.4844V64.5231L66.6343 55.0037Z" fill="white"/>
        </svg>
