.main-about
    .main-about__img
        img(src="/images/content/main-about/img.png" alt="Кто мы")
    .container
        .main-about__container
            .main-about__wrap
                .main-about__content.content
                    h2 Кто мы
                    p БПЦ Банковские технологии – ведущий российский разработчик платформ для платежных и финансовых сервисов. Мы входим в список аккредитованных организаций Министерства цифрового развития, связи и массовых коммуникаций РФ, имеем лицензии ФСБ и ФСТЭК. Наши продукты входят в Реестр отечественного ПО, поддерживают российские ОС и СУБД, регулярно проходят проверки на уязвимости.

                .main-about__link.link.link--white
                    a(href="/about/")
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 16L16 1M16 1V16M16 1H1" stroke="white" stroke-width="2"/>
                        </svg>
                        span Читать подробнее
                .main-about__circles
                    include ../../components/circles-bg/index

