.footer {
  background-color: $blue;
  padding: 60px 0;
  color: $bg;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: currentColor;
    margin-bottom: 10px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    font-family: Inter;
    font-size: 16px;
  }

  %footer-contact {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
  }

  &__tel {
    margin-bottom: 5px;

    a {
      @extend %footer-contact;
    }
  }

  &__email {
    margin-bottom: 10px;

    a {
      @extend %footer-contact;
    }
  }

  &__socials {
    margin-top: auto;
    display: flex;
    gap: 5px;
  }

  &__addr {
    font-size: 16px;
    font-weight: 400;
  }
}