.up{
  width: 100px;
  height: 100px;
  background-color: $red;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  display: flex;
  align-items: center;

  text-align: center;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: $bg;

  pointer-events: none;
  opacity: 0;
  @include tr;
  @include sm-block{
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
  }

  &.active{
    pointer-events: all;
    opacity: 1;
  }
}