.main-desc
    .main-desc__grid
        .main-desc__left
            h2.main-desc__title
                span.color-blue БПЦ&nbsp;
                span в России
            .main-desc__bottom
                .main-desc__content
                    .sub Мы разрабатываем и внедряем цифровые платформы для платежных сервисов. Поставляем готовые решения, разрабатываем кастомизированные версии, предоставляем услугу как сервис.
                a(href="#feed").btn.main-desc__btn Обсудить проект
                .main-desc__map
                    img(src="/images/content/main-desc/map.svg" alt="lorem")
                    .main-desc__map-title
                        span.main-desc__map-title--1 27 лет
                        <br>
                        span.main-desc__map-title--2 на рынке
        .main-desc__right
            .main-desc__items
                -
                    var arr = [
                        {
                            img: '/images/content/main-desc/office.svg',
                            val: '6',
                            txt: 'Офисов'
                        },
                        {
                            img: '/images/content/main-desc/man.svg',
                            val: '850',
                            txt: 'Сотрудников'
                        },
                        {
                            img: '/images/content/main-desc/map-icon.svg',
                            val: '100%',
                            txt: 'Собственная российская разработка'
                        }
                    ];
                each i in arr
                    .main-desc__item
                        .main-desc__item-left
                            .main-desc__item-img
                                img(src=i.img alt=i.val)
                        .main-desc__item-right
                            .main-desc__item-val= i.val
                            .main-desc__item-txt= i.txt
