.main-desc {
  position: relative;
  margin-bottom: 230px;

  &__grid {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &__left {
    position: sticky;
    top: 100px;
    left: 0;
    width: 50%;
    margin-bottom: 50px;
  }

  &__title {
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 250px;
      height: 1px;
      background-color: $txt;
      position: absolute;
      top: 50%;
      right: 20px;
    }
  }

  &__bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 70px;
  }

  &__content {
    width: min(100%, 460px);
    margin-bottom: 50px;

    p {
      font-family: Inter;
      font-size: 20px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    &-title {
      font-size: 90px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      position: absolute;
      top: 370px;
      right: 340px;

      -webkit-text-stroke: 1px $blue;
      -webkit-text-fill-color: transparent;
      text-indent: 190px;
    }

    img {
      display: block;
      max-width: initial;
    }
  }

  &__right {
    width: 50%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__item {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  &__item-left {
    display: flex;
    justify-content: center;
  }

  &__item-right {
    display: flex;
    flex-direction: column;
  }

  &__item-val {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
  }

  &__item-txt {
    font-family: Inter;
    font-size: 27px;
  }
}