.news.projects
    -
        var projects = {
            'all': {
                name: 'Все',
                list: [
                    {
                        date: '17 апреля',
                        img: '/images/content/news/1.jpg',
                        title: 'СмартВиста День состоится 26 мая',
                        desc: '26 мая 2022 г. Состоится очередное мероприятие СмартВиста День.',
                        href: '/news/1/',
                    },
                    {
                        date: '06 апреля',
                        img: '/images/content/news/2.jpg',
                        title: 'Компания БПЦ Банковские технологии выступила на конференции «Banks IT Day 2022» издания Tadviser',
                        desc: 'БПЦ Банковские технологии выступила на офлайн-конференции...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/3.jpg',
                        title: 'Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке',
                        desc: 'В декабре 2021 года БПЦ совместно с Севергазбанком запустили...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/4.jpg',
                        title: 'Мошенничество – новая старая чума',
                        desc: 'Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть...',
                        href: '/news/1/',
                    },
                    {
                        date: '25 февраля',
                        img: '/images/content/news/5.jpg',
                        title: 'Тинькофф выбрал платежные сервисы SaaS от БПЦ для геоэкспансии в Азии',
                        desc: 'Тинькофф выбрал БПЦ как эксперта в сфере цифрового банковского обслуживания и платежей...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/6.jpg',
                        title: '«Микрон», надежда российской электроники под санкциями, получил прибыль впервые за 12 лет',
                        desc: 'Главный российский производитель процессоров, зеленоградский...',
                        href: '/news/1/',
                    },
                ]
            },
            'bpc': {
                name: 'Новости БПЦ',
                list: [
                    {
                        date: '17 апреля',
                        img: '/images/content/news/1.jpg',
                        title: 'СмартВиста День состоится 26 мая',
                        desc: '26 мая 2022 г. Состоится очередное мероприятие СмартВиста День.',
                        href: '/news/1/',
                    },
                    {
                        date: '06 апреля',
                        img: '/images/content/news/2.jpg',
                        title: 'Компания БПЦ Банковские технологии выступила на конференции «Banks IT Day 2022» издания Tadviser',
                        desc: 'БПЦ Банковские технологии выступила на офлайн-конференции...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/3.jpg',
                        title: 'Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке',
                        desc: 'В декабре 2021 года БПЦ совместно с Севергазбанком запустили...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/4.jpg',
                        title: 'Мошенничество – новая старая чума',
                        desc: 'Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть...',
                        href: '/news/1/',
                    },
                    {
                        date: '25 февраля',
                        img: '/images/content/news/5.jpg',
                        title: 'Тинькофф выбрал платежные сервисы SaaS от БПЦ для геоэкспансии в Азии',
                        desc: 'Тинькофф выбрал БПЦ как эксперта в сфере цифрового банковского обслуживания и платежей...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/6.jpg',
                        title: '«Микрон», надежда российской электроники под санкциями, получил прибыль впервые за 12 лет',
                        desc: 'Главный российский производитель процессоров, зеленоградский...',
                        href: '/news/1/',
                    },
                ]
            },
            'partners': {
                name: 'Новости партнеров',
                list: [
                    {
                        date: '17 апреля',
                        img: '/images/content/news/1.jpg',
                        title: 'СмартВиста День состоится 26 мая',
                        desc: '26 мая 2022 г. Состоится очередное мероприятие СмартВиста День.',
                        href: '/news/1/',
                    },
                    {
                        date: '06 апреля',
                        img: '/images/content/news/2.jpg',
                        title: 'Компания БПЦ Банковские технологии выступила на конференции «Banks IT Day 2022» издания Tadviser',
                        desc: 'БПЦ Банковские технологии выступила на офлайн-конференции...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/3.jpg',
                        title: 'Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке',
                        desc: 'В декабре 2021 года БПЦ совместно с Севергазбанком запустили...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/4.jpg',
                        title: 'Мошенничество – новая старая чума',
                        desc: 'Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть...',
                        href: '/news/1/',
                    },
                    {
                        date: '25 февраля',
                        img: '/images/content/news/5.jpg',
                        title: 'Тинькофф выбрал платежные сервисы SaaS от БПЦ для геоэкспансии в Азии',
                        desc: 'Тинькофф выбрал БПЦ как эксперта в сфере цифрового банковского обслуживания и платежей...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/6.jpg',
                        title: '«Микрон», надежда российской электроники под санкциями, получил прибыль впервые за 12 лет',
                        desc: 'Главный российский производитель процессоров, зеленоградский...',
                        href: '/news/1/',
                    },
                ]
            },
            'articles': {
                name: 'Статьи',
                list: [
                    {
                        date: '17 апреля',
                        img: '/images/content/news/1.jpg',
                        title: 'СмартВиста День состоится 26 мая',
                        desc: '26 мая 2022 г. Состоится очередное мероприятие СмартВиста День.',
                        href: '/news/1/',
                    },
                    {
                        date: '06 апреля',
                        img: '/images/content/news/2.jpg',
                        title: 'Компания БПЦ Банковские технологии выступила на конференции «Banks IT Day 2022» издания Tadviser',
                        desc: 'БПЦ Банковские технологии выступила на офлайн-конференции...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/3.jpg',
                        title: 'Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке',
                        desc: 'В декабре 2021 года БПЦ совместно с Севергазбанком запустили...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/4.jpg',
                        title: 'Мошенничество – новая старая чума',
                        desc: 'Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть...',
                        href: '/news/1/',
                    },
                    {
                        date: '25 февраля',
                        img: '/images/content/news/5.jpg',
                        title: 'Тинькофф выбрал платежные сервисы SaaS от БПЦ для геоэкспансии в Азии',
                        desc: 'Тинькофф выбрал БПЦ как эксперта в сфере цифрового банковского обслуживания и платежей...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/6.jpg',
                        title: '«Микрон», надежда российской электроники под санкциями, получил прибыль впервые за 12 лет',
                        desc: 'Главный российский производитель процессоров, зеленоградский...',
                        href: '/news/1/',
                    },
                ]
            },
            'media': {
                name: 'мы в сми',
                list: [
                    {
                        date: '17 апреля',
                        img: '/images/content/news/1.jpg',
                        title: 'СмартВиста День состоится 26 мая',
                        desc: '26 мая 2022 г. Состоится очередное мероприятие СмартВиста День.',
                        href: '/news/1/',
                    },
                    {
                        date: '06 апреля',
                        img: '/images/content/news/2.jpg',
                        title: 'Компания БПЦ Банковские технологии выступила на конференции «Banks IT Day 2022» издания Tadviser',
                        desc: 'БПЦ Банковские технологии выступила на офлайн-конференции...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/3.jpg',
                        title: 'Мобильное приложение для инвестирования от БПЦ внедрено в Севергазбанке',
                        desc: 'В декабре 2021 года БПЦ совместно с Севергазбанком запустили...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/4.jpg',
                        title: 'Мошенничество – новая старая чума',
                        desc: 'Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть...',
                        href: '/news/1/',
                    },
                    {
                        date: '25 февраля',
                        img: '/images/content/news/5.jpg',
                        title: 'Тинькофф выбрал платежные сервисы SaaS от БПЦ для геоэкспансии в Азии',
                        desc: 'Тинькофф выбрал БПЦ как эксперта в сфере цифрового банковского обслуживания и платежей...',
                        href: '/news/1/',
                    },
                    {
                        date: '17 апреля',
                        img: '/images/content/news/6.jpg',
                        title: '«Микрон», надежда российской электроники под санкциями, получил прибыль впервые за 12 лет',
                        desc: 'Главный российский производитель процессоров, зеленоградский...',
                        href: '/news/1/',
                    },
                ]
            },

        };
    .projects__top
        .filter
            button(type='button').filter__btn
                span Фильтр
                <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.23077 7.77269H24.7692V10.2272H3.23077V7.77269ZM8.07692 15.5455H19.9231V18H8.07692V15.5455ZM0 0H28V2.45454H0V0Z" fill="#D7D7D7"/>
                </svg>
            .filter__drop
                .projects__btns
                    each i,x in projects
                        button(type='button' data-id=x).projects__btn.projects__btn--lg35.filter__item
                                span= i.name
    .projects__bottom
        .projects__tabs
            each tab,x in projects
                div(data-id=x).projects__tab
                    .news__list
                        each i in tab.list
                            .news__item
                                include item





