.scan
    h1.scan__title Поиск
    form.scan__form
        .scan__field
            input(type='text' name='scan').scan__input
        button(type='submit').scan__submit.btn Поиск

    .scan__result
        .scan__nothing По вашему запросу ничего не найдено.
        br
        br
        .scan__pag
            include pag
        -
            var list = [
                {
                    title: 'Предотвращение мошенничества и оценка рисков',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Мы гордимся нашими проектами',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Новости',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Новости',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Новости',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Решения',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'О компании',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Импортозамещение в критических информационных инфраструктурах',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Импортозамещение в критических информационных инфраструктурах',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                },
                {
                    title: 'Импортозамещение в критических информационных инфраструктурах',
                    desc: 'Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...'
                }
            ];
        .scan__list
            each i in list
                .scan__item
                    include item
        .scan__pag
            include pag