
<div class="scan">
  <h1 class="scan__title">Поиск</h1>
  <form class="scan__form">
    <div class="scan__field">
      <input class="scan__input" type="text" name="scan"/>
    </div>
    <button class="scan__submit btn" type="submit">Поиск</button>
  </form>
  <div class="scan__result">
    <div class="scan__nothing">По вашему запросу ничего не найдено.</div><br/><br/>
    <div class="scan__pag">
      <div class="scan-pag"><a class="scan-pag__arr scan-pag__prev" href="#"><svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 15.5L1.2806 14.8054L0.609956 15.5L1.2806 16.1946L2 15.5ZM1.2806 16.1946L15.2806 30.6946L16.7194 29.3054L2.7194 14.8054L1.2806 16.1946ZM2.7194 16.1946L16.7194 1.69459L15.2806 0.305405L1.2806 14.8054L2.7194 16.1946Z" fill="#D7D7D7"/>
</svg></a>
        <div class="scan-pag__links"><a class="scan-pag__link" href="#">1</a><a class="scan-pag__link" href="#">2</a><a class="scan-pag__link" href="#">3</a><a class="scan-pag__link" href="#">4</a><a class="scan-pag__link" href="#">5</a><a class="scan-pag__link" href="#">...</a><a class="scan-pag__link" href="#">15</a></div><a class="scan-pag__arr scan-pag__next" href="#"><svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 15.5L15.7194 16.1946L16.39 15.5L15.7194 14.8054L15 15.5ZM14.2806 14.8054L0.280599 29.3054L1.7194 30.6946L15.7194 16.1946L14.2806 14.8054ZM15.7194 14.8054L1.7194 0.305405L0.280599 1.69459L14.2806 16.1946L15.7194 14.8054Z" fill="#1B4ED1"/>
</svg></a>
      </div>
    </div>
    <div class="scan__list">
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Предотвращение мошенничества и оценка рисков</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Мы гордимся нашими проектами</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Новости</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Новости</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Новости</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Решения</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">О компании</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Импортозамещение в критических информационных инфраструктурах</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Импортозамещение в критических информационных инфраструктурах</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
      <div class="scan__item"><a class="scan-item" href="#"><span class="scan-item__title">Импортозамещение в критических информационных инфраструктурах</span><span class="scan-item__desc">Мошенничество – это не только <b>финансовые потери</b>, но и значительный репутационный риск, реализация которого может привести к оттоку клиентов. Чтобы минимизировать ...</span></a></div>
    </div>
    <div class="scan__pag">
      <div class="scan-pag"><a class="scan-pag__arr scan-pag__prev" href="#"><svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 15.5L1.2806 14.8054L0.609956 15.5L1.2806 16.1946L2 15.5ZM1.2806 16.1946L15.2806 30.6946L16.7194 29.3054L2.7194 14.8054L1.2806 16.1946ZM2.7194 16.1946L16.7194 1.69459L15.2806 0.305405L1.2806 14.8054L2.7194 16.1946Z" fill="#D7D7D7"/>
</svg></a>
        <div class="scan-pag__links"><a class="scan-pag__link" href="#">1</a><a class="scan-pag__link" href="#">2</a><a class="scan-pag__link" href="#">3</a><a class="scan-pag__link" href="#">4</a><a class="scan-pag__link" href="#">5</a><a class="scan-pag__link" href="#">...</a><a class="scan-pag__link" href="#">15</a></div><a class="scan-pag__arr scan-pag__next" href="#"><svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 15.5L15.7194 16.1946L16.39 15.5L15.7194 14.8054L15 15.5ZM14.2806 14.8054L0.280599 29.3054L1.7194 30.6946L15.7194 16.1946L14.2806 14.8054ZM15.7194 14.8054L1.7194 0.305405L0.280599 1.69459L14.2806 16.1946L15.7194 14.8054Z" fill="#1B4ED1"/>
</svg></a>
      </div>
    </div>
  </div>
</div>