//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  --mb: 20px;
  font-family: Inter;

  ul {
    margin-bottom: var(--mb);
    padding-left: 30px;

    li {
      list-style: disc;
    }
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: var(--mb);
    color: currentColor;
  }

  h3{
    font-size: 35px;
  }

  img{
    margin-bottom: var(--mb);
  }

  b {
    font-weight: 700;
  }


}

@mixin tr() {
  transition: $transition;
}