.nav {
  display: flex;
  gap: 30px;
  @include xlg-block {
    gap: 45px;
  }
  @include lg-block {
    flex-direction: column;
    align-items: flex-start;
    background: $bg;
    padding: 45px 15px 45px 40px;
    gap: 0;
    height: calc(100vh - 69px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  @include sm-block{
    padding: 15px 30px 30px;
  }

  &__item {
    position: relative;
    cursor: pointer;

    &:hover {
      .nav__link {
        color: $blue;
        @include lg-block{
          color: $txt;
        }

        svg {
          display: block;
        }
      }

      .nav__drop {
        display: block;
        @include lg-block{
          display: none;
        }
      }
    }

    &.active{
      .nav__link {
        color: $blue;
        transform: translateX(35px);
        @include sm-block{
          transform: translateX(25px);
        }

        svg {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: flex;
    padding: 30px 0;
    align-items: center;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    @include xlg-block {
      font-size: 15px;
    }
    @include lg-block{
      padding: 12px 0;
      font-size: 30px;
      @include tr;
    }
    @include sm-block{
      font-size: 22px;
    }

    svg {
      position: absolute;
      top: 50%;
      right: calc(100% + 5px);
      transform: translateY(-65%);
      bottom: 0;
      display: none;

      @include lg-block{
        width: 22px;
        height: 22px;
        right: calc(100% + 15px);
        transform: translateY(-50%);
        display: block;
        opacity: 0;
        @include tr;
      }
      @include sm-block{
        width: 17px;
        height: 17px;
        right: calc(100% + 10px);
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    @include lg-block{
      position: static;
    }
  }
}

.subnav {
  width: min(100%, 600px);
  background-color: $bg;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include lg-block{
    padding: 5px 20px 15px 30px;
    width: 100%;

  }
  @include sm-block{
    padding-left: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: Inter;
    white-space: nowrap;
    color: $txt;
    @include tr;
    @include lg-block{
      white-space: initial;
    }

    &:hover {
      color: $blue;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: disc;
    padding-left: 25px;
  }

  &__li {
    font-size: 14px;
  }
}