div(style='background-image: url(/images/content/import/banner.jpg);').banner
    .container
        .banner__title.h1 Импортозамещение в критических информационных инфраструктурах
        .banner__txt.sub.
            Программные продукты БПЦ разработаны
            в Российской Федерации, соответствуют всем критериям импортозамещения и устойчивости
            к санкциям
