.event-about
    .container
        .event-about__grid
            .event-about__left
                .event-about__items
                    -
                        var data = [
                            {
                                name: 'Дата: ',
                                val: '28 декабря 2022'
                            },
                            {
                                name: 'Время начала:',
                                val: '18:00'
                            },
                            {
                                name: 'Формат проведения:',
                                val: 'Онлайн'
                            }
                        ];
                    each i in data
                        .event-about__item
                            .event-about__item-name= i.name
                            .event-about__item-val= i.val
                .event-about__contacts
                    h3.event-about__contacts-title.h3 Наши Контакты
                    .event-about__contacts-items
                        .event-about__contacts-item
                            a(href="tel:+7495780-31-65") +7 495 780-31-65
                            a(href="mailto:bt@bpcbt.com") bt@bpcbt.com
                        .event-about__contacts-item
                            span 109028, Россия, Москва,<br>ул. Земляной Вал, 50A/8 стр.2
            .event-about__right
                .event-about__content.content
                    p C докладом «ПостгресПро - отечественная коммерческая СУБД» также выступили представители команды Postgres Professional в лице руководителя отдела технического консалтинга - Марка Ривкина и технического консультанта – Игоря Мельникова.
                    p Мероприятие собрало более 200 участников профессионального сообщества. Вопросы, поднятые на встрече:
                    p Практический опыт реализации решений семейства СмартВиста компании «БПС инновационные программные решения» на отечественной СУБД Postgres
                    ul
                        li Нюансы перехода, о которых необходимо знать и с которыми столкнулась обязательно столкнется разработка при переходе на Postgres
                        li Готовность компании «БПС инновационные программные решения» к поддержке Банков на пути построения технологической независимости от зарубежных решений
                        li Сравнение различных СУБД
                        li Опасность «Закладок» в Open-source СУБД: риски, проверки, пути решения · Поддержка отказоустойчивости и масштабирования решений на базе СУБД Postgres
                        li Различия версий Postgres: Pro (проприетарный) vs общедоступный PostgreSQL
                        li Инструменты мониторинга СУБД Postgres Мы планируем провести серию мероприятий, с запросами на участие и вопросами обращайтесь на <a href='mailto:events-bps@bps-iss.ru'>events-bps@bps-iss.ru</a>. При регистрации обязательна информация о компании, должность, ФИО, e-mail. Темы будут сформированы на основе опросов.
                button(type='button' data-event='reg').event-about__btn.btn Принять участие