.article-banner{
  display:grid;
  grid-template-columns: 615px 1fr;

  &__left{
    position: relative;
    overflow: hidden;
    background: $blue;
  }

  &__svg{
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img{
    height: 550px;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}